- hosts: backend
  remote_user: ubuntu
  become: yes
  become_method: sudo

  environment:
    SECRET_KEY: '{{ SECRET_KEY }}'

  tasks:
    - name: Update the Ubuntu system and services
      apt: update_cache=yes

    - name: Ugrade the Ubuntu system and services
      apt: upgrade=full

    - name: Install Basic Unix-level Services
      apt: name={{ item }} state=latest
      with_items:
        - nginx
        - python3
        - python-pip
        - build-essential
        - python3-pip
        - python3.4-venv
        - git
        - python-dev
        - libpq-dev
        - libtiff5-dev
        - libjpeg8-dev
        - zlib1g-dev
        - libfreetype6-dev
        - liblcms2-dev
        - libwebp-dev
        - tcl8.6-dev
        - tk8.6-dev
        - python-tk
        - gunicorn

    - name: Clone the Book App to the Home Directory
      git: clone=yes repo=https://github.com/ESCAE/Django-RESTful-Backend.git dest=/home/ubuntu/Django-RESTful-Backend version=ely-deployment force=yes

    - name: Install app
      pip: requirements=/home/ubuntu/Django-RESTful-Backend/requirements.pip

    - name: Register the old default file
      stat: path=/etc/nginx/sites-available/default.old
      register: default_stat

    - name: Rename old default file
      command: mv /etc/nginx/sites-available/default /etc/nginx/sites-available/default.old
      when: not default_stat.stat.exists

    - name: Create a new default file for nginx
      template: src=../templates/nginx_config.jinja2 dest=/etc/nginx/sites-available/default

    - name: Restart nginx service
      service: name=nginx state=restarted

    - name: Copy upstart script into /etc/init
      template: src=../templates/upstart_back_config.jinja2 dest=/etc/init/django-backend.conf

    - name: Restart the app upstart job
      service: name=django-backend state=restarted
